
@model List<Internship.Models.CptApplication>
@{
    ViewData["Title"] = "Advisor";
}

<h2>Advisor </h2> <br /><br />

<h4>Your forms</h4>

<table class="table table-striped">
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Accept</th>
        <th>Reject</th>
    </tr>

    @foreach (var application in Model)
    {
        <tr>
            <td>@application.Student.Email</td>
            <td>@application.Student.FullName</td>
            <td>@Html.ActionLink("Accept", "Accept", "Dashboard", new { id = application.Id, signedBy = "Advisor"}, new { @class="btn btn-success"})</td>
            <td><a href="#" class="btn btn-danger">Reject</a></td>
        </tr>
    }


</table>
