<div class="text-center">
    <img src="https://www.southeastern.edu/admin/rec_reg/images/southeastern_logo.jpg" height="100" />
    <h5>Department of Computer Science & Industrial Technology</h5>
</div>
