

    <div class="text-center">
        <h4>
            Southeastern Louisiana University
            <br />
            Department of Computer Science & Industrial Technology
            <br /><br />
        </h4>
    </div>
