@{
    ViewData["Title"] = "Forms";
}


<div>
    <div class="col-md-3">
        <h2>Here are the Forms</h2>
        <ul>
            <li><a href=" /Form/Application/">Main Application</a></li>
            <li><a href="/Form/CPTForm/">CPT Form</a></li>
            <li><a href="/Form/EmploymentAgreement">Employment Agreement Form</a></li>
            <li><a href="/Form//LearningObjective/">Learning Objective Form)</a></li>
        </ul>
    </div>
</div>
