@model System.Collections.Generic.List<Internship.Models.User>


<br />
<h4>User Management</h4>

<a href="~/UserManagement/Add">Add New User</a>

<table class="table table-striped">
    <tr>
        <th>Actions</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var user in Model) 
    {
    <tr>
        <td>
            <a href="~/Usermanagement/edit/@user.Id" class="btn btn-primary btn-xs">Edit</a>
            <a href="~/Usermanagement/delete/@user.Id" class="btn btn-danger btn-xs">Delete</a>
        </td>
        <td>@user.FirstName</td>
        <td>@user.Email</td>
    </tr>
    }
</table>