
<form method="post" action="~/Auth/Login">

    <h2>Login Here</h2>

    Email Address:
    <input type="text" name="Email" />

    <br />


    Password:
    <input type="text" name="Password" />

    <br />

    <input type="submit" value="Login" />


</form>


